body{
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 15px;
    color:#333
}
.App{
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 30px;
}
.link{
    text-decoration: none;
    color: #333;
    &:active, &:visited{
        color: #333;
    }
    &:hover{
        opacity: 0.7;
    }
}
#hrLast{
    margin: 2em;
    opacity: 0;
}